<!-- Login Form Example with Floating Placeholders -->
<div class="inputbox">
    <input type="text" class="username" required>
    <span>Username</span>
</div>
<div class="inputbox password-container">
    <input type="password" class="password" id="password" autocomplete="current-password" required>
    <span>Password</span>
    <button type="button" id="togglePasswordButton" class="password-toggle" tabindex="-1">
        <i class="fa-solid fa-eye" id="eyeIcon"></i>
    </button>
</div>


<!-- Register Form Example with Floating Placeholders -->
<div class="inputbox">
    <input type="text" class="username" required>
    <span>Username</span>
</div>
<div class="inputbox">
    <input type="email" class="email" required>
    <span>Email</span>
</div>
<div class="inputbox password-container">
    <input type="password" class="password" id="password" autocomplete="current-password" required>
    <span>Password</span>
    <button type="button" id="togglePasswordButton" class="password-toggle" tabindex="-1">
        <i class="fa-solid fa-eye" id="eyeIcon"></i>
    </button>
</div>
<div class="inputbox password-container">
    <input type="password" class="password" id="confirmPassword" autocomplete="current-password" required>
    <span>Confirm Password</span>
    <button type="button" id="toggleConfirmPasswordButton" class="password-toggle" tabindex="-1">
        <i class="fa-solid fa-eye" id="eyeIconConfirm"></i>
    </button>
</div>